@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

p {
  font-size: 16px
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;

}

.day-mon {
  background-color: #FFF;
}

.day-tue {
  background-color: #FFF;
}

.day-wed {
  background-color: #FFF;
}

.day-thu {
  background-color: #FFF;
}

.day-fri {
  background-color: #FFF;
}

.day-sat {
  color: #0000FF;
  background-color: #FFF;
}




.day-blank.day-sat {
  background: #D3D3D3;
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
  background-color: #FFF;
}

.past-day {
  background: #dcdcdc;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 16px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.category_btn_b {
  font-size: 12px;
  padding: 0 5px;
  border: none;
  display: block;
  margin-bottom: 5px;
  width: 80%;
  height: 40px;
  border-bottom: 2px solid #9E9E9E;
  background: #ECF1F6;
  text-align: left;
}

.sub_btn {
  display: block;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
/* 親要素の疑似要素 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  border-radius:
}


/* 子要素 */
.one_person {
  width: 100%;
  height: 30%;
  background-color: #fff;
  border-radius: 10px;
  width: 22%;
  padding: 10px;
  justify-content: flex-start;
}


/* 親要素の疑似要素 */
.reserve_users_area::after {
  content: "";
  display: block;
  width: 22%;
  /* 子要素と同じ幅 */
}

.reserve_users_area::before {
  content: "";
  display: block;
  width: 22%;
  /* 子要素と同じ幅 */
  order: 1;
  /* アイテムの並び順 */
}


.reserve_users_area span {
  font-size: 12px;
}


.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #FFF;
}

.js-accordion-title {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.accordion-content {
  display: none;
}



.login-box {
  width: 98vw;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 50px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow:
}

.atlas-img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 40px;
  margin-left: 35%;
}

.login-form {
  margin: 100px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* アコーディオン */

.accordion-title {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
}


.accordion-title::after {
  border-right: solid 2px;
  border-top: solid 2px;
  content: "";
  display: inline-flex;
  height: 8px;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}


.accordion-title.open::after {
  top: 45%;
  transform: rotate(-45deg);
}

.accordion-title-search {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: black;
  border-bottom: 2px solid #9E9E9E;
  width: 80%;
  top: 20px;
}


.accordion-title-search::after {
  border-right: solid 2px;
  border-top: solid 2px;
  content: "";
  display: inline-flex;
  height: 8px;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
  color: black;
}


.accordion-title-search.open::after {
  top: 45%;
  transform: rotate(-45deg);
  color: black;
}

.accordion-categories {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: black;
}

.main_categories {
  border-bottom: 2px solid #9E9E9E;
}

.accordion-categories::after {
  border-right: solid 2px;
  border-top: solid 2px;
  content: "";
  display: inline-flex;
  height: 8px;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
  color: black;
}


.accordion-categories.open::after {
  top: 45%;
  transform: rotate(-45deg);
  color: black;
}


.accordion-sub-categories {
  display: none;
}

.subject-select {
  display: flex;
}

.subject-select-box {
  padding: 5px;
}

.area {
  padding: 20px 0px 5px 0px;
}

.selected_engineer {
  padding: 20px 0px 5px 0px;
}

.checkbox-space {
  margin: 5px;
}

.table-thead {
  background-color: #03AAD2;
  color: #fff;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}


.table-thead,
.table-thead-in {
  border: 1px solid #ddd;
}

th {
  padding: 15px;

}

.table-thead-in {
  padding: 15px;
  background-color: #FFF;
}

tbody tr:nth-child(even) .table-thead-in {
  background-color: #afdfe4;
}

.keyword-search {
  display: flex;
  width: 100%;
  padding: 20px;
}

.wide-box {
  width: 80%;
}

.comment-like {
  margin-right: auto;

}


.btn-info {
  text-align: center;
}


.btn-pink_pink {
  color: #fff;
  background: #ff69b4;
  border: #ff69b4;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  text-decoration: none;
  transition: all .3s ease 0s;
  text-decoration: none;
  width: 50%;
  text-align: center;
}


.btn-yellow_yellow {
  color: #fff;
  background: #DAA520;
  border: #DAA520;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  text-decoration: none;
  transition: all .3s ease 0s;
  text-decoration: none;
  width: 50%;
  text-align: center;
}


.btn-post_post {
  color: #fff;
  background: #17a2b8;
  border: #17a2b8;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  text-decoration: none;
  transition: all .3s ease 0s;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.btn-post_post:hover {
  cursor: pointer;
  color: #fff;
}

.btn-search_reset {
  color: #4093FF;
  background: #ECF1F6;
  border: #ECF1F6;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .800rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  text-decoration: none;
  transition: all .3s ease 0s;
  text-decoration: none;
}

.search-reset-box {
  padding: 30px;
}

.post-b {
  padding: 20px;
}

.w-90 {
  width: 100% !important;
  height: auto;
}

.sidebar-space {
  margin: 5px 0px 5px 15px;
}


.spaceーwhite {
  border-radius: 5px;
  width: 50%;
  margin: auto;
  height: 75%;
}
